{% extends "emails/base.html" %}

{% block title %}New login to your account{% endblock %}

{% block heading %}
New login to your account
{% endblock %}

{% block content %}
<p>Hello <strong>{{ full_name }}</strong>,</p>

<p>We noticed a new login to your account.</p>

<h3>Login details</h3>

<ul>
    <li><strong>Time:</strong> {{ login_time }}</li>
    <li><strong>IP address:</strong> {{ ip_address }}</li>
    <li><strong>Location:</strong> {{ location }}</li>
    <li><strong>Device:</strong> {{ user_agent }}</li>
</ul>

<p>If this was you, no action is needed.</p>

<p>If this was not you, please change your password immediately.</p>
{% endblock %}